{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <h1>
        {{ course.title | title}}
    </h1>

    <p> Code: {{ course.code | upper }} </p>
    <p> Teacher: 
        {% if course.teacher.all %}
            {% for teacher in course.teacher.all %}
                {{ teacher.name | title}},
            {% endfor %}
        {% endif %}
    </p>
    <p> Fields: 
        {% if course.field.all %}
            {% for field in course.field.all %}
                {{ field.name | title}}, 
            {% endfor %}
        {% endif %}
    </p>
    <p> Descriptions: {{ course.description }} </p>
    <p> Marks: {{ course.total_marks }} </p>
    <hr>

    <h2>
        Exams under this course
    </h2>
    <hr>

    {% for exam in exams %}
        <div>          
            <h4>
                {{ exam.name }}
            </h4>
            <p>
                Total Marks: {{ exam.total_marks }}
            </p>
            <p> 
                Time: {{ exam.start_time }} to {{ exam.finish_time }}
            </p>
            <a href="{% url 'exam-detail' pk=exam.pk %}"> View Details </a>
            <hr>
        </div>
    {% endfor %}

{% endblock content %}
