{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <h1>
        Enroll A Course 
    </h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="">
            
            <label for="id_course_code"> Course Code </label><br>
            {{ form.course_code }}<br> 

            <label for="id_verification_token"> Verification Token </label><br>
            {{ form.verification_token }}<br><br>

            <input type="Submit" value="Submit">
        </div>
    </form>

{% endblock content %}