{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>
        {{ exam.name | title}}
    </h1>
    <div>
        Instructions: {{ exam.exam_description }}
    </div>
    <hr>
        <form method="post" action="{% url 'exam-complete' %}">
            {% csrf_token %}
            {% comment %} <input type="hidden" name="exam_id" value="{{ exam.pk }}"> {% endcomment %}
            <div class="mcq">
                {% if mcqs.all %}
                    <h4> MCQ </h4>
                    <ol>
                        {% for mcq in mcqs %}
                        <li>
                            <p> {{ mcq.question }} </p>
                            
                            <ol type="A">

                                    <input type="radio" id="mcq_{{mcq.pk}}_a" name="mcq_{{mcq.pk}}" value="A">
                                    <label for="mcq_{{mcq.pk}}_a">{{ mcq.a }}</label><br>
                                
                                    <input type="radio" id="mcq_{{mcq.pk}}_b" name="mcq_{{mcq.pk}}" value="B">
                                    <label for="mcq_{{mcq.pk}}_b">{{ mcq.b }}</label><br>
                               
                                    <input type="radio" id="mcq_{{mcq.pk}}_c" name="mcq_{{mcq.pk}}" value="C">
                                    <label for="mcq_{{mcq.pk}}_c">{{ mcq.c }}</label><br>
                                
                                    <input type="radio" id="mcq_{{mcq.pk}}_d" name="mcq_{{mcq.pk}}" value="D">
                                    <label for="mcq_{{mcq.pk}}_d">{{ mcq.d }}</label><br>
                                
                            </ol>                          
                        </li>
    
                        {% endfor %}
                    </ol>
                    {% endif %}
                    <hr>
            </div>

            <div>
                {% if shortQues.all %}
                   <h4> Short Questions </h4>
                   <ol>
                       {% for ques in shortQues %}
                       <li>
                           <label for="shortQ_{{ques.pk}}">{{ ques.question }}</label><br>
                       </li>
                       <input type="text" id="shortQ_{{ques.pk}}" name="sq_{{ques.pk}}">                     
                       {% endfor %}
                   </ol>
               {% endif %}
               <hr>
            </div>

            <div>
                {% if longQues.all %}
                   <h4> Descriptive Questions </h4>
                   <ol>
                       {% for ques in longQues %}
                        <li>
                            <label for="longQ_{{ques.pk}}">{{ ques.question }}</label><br>
                        </li>
                        <textarea id="longQ_{{ques.pk}}" name="lq_{{ques.pk}}" rows="4" cols="50"></textarea>
    
                       {% endfor %}
                   </ol>
               {% endif %}
           </div>
           <input type="submit" value="Finish Exam">
        </form>




{% endblock content %}
