


.loginimage {
    width: 30px;
    height: 25px;
}


.formclass{
    margin-top:15px;

}

.loginuser {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Style for the form inputs */
.loginuser input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 0px;
}

/* Style for the submit button */
.loginsubmit input[type="submit"] {
    width: 100%;
    background-color: #0589a0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

/* Hover effect for submit button */
.loginsubmit input[type="submit"]:hover {
    background-color: #060d10;
}

.logs{
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
} 

