{% extends 'base.html' %}
{% load static %}
{% block content %}



    <h1>new signup page</h1>

    <div class="logs">
        <h3 class="text-center" style="font-family: 'Fredoka', sans-serif; font-weight: 900;">Login to your Account</h3>

        <form class="formclass mt-5"  action="" method="POST">

            {% csrf_token %}
            <div class="loginuser mb-0">
            {{ loginForm.Firstname }} <br><br>
            </div>
            <div class="loginuser my-0">
            {{ loginForm.Lastname }} <br><br>
            </div>
            <div class="loginsubmit mt-0">
            <input type="submit" value="Submit">
            </div>
        </form>
        <h6 class="text-end mt-4">Don't have an account?click here to <a href="/signup">signup</a> </h6>    
    </div>
    <img  style="height: 600px; width: 850px;" src="{% static 'image/signupimage.svg' %}">

    
{% endblock content %}