{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %} 


    <div class="row d-flex justify-content-center mt-2">
      <div class="col-lg-3 col-md-6 col-sm-12  d-flex flex-column shadow-sm"> 
        <div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; border-radius:50%;margin-left:30%;margin-top:30%" class=" bg-primary text-white justify-content-center">Profile</div>
        <a class="bg-primary text-center text-white p-1 m-1" href="{% url 'exams' %}"  style="text-decoration: none; color:rgb(249, 242, 242)">Exams</a>
        <div class="bg-primary text-center text-white p-1 m-1">Assignments</div>
        <a class="bg-primary text-center text-white p-1 m-1" href="{% url 'course-catalog' %}"  style="text-decoration: none; color:rgb(249, 242, 242)">Courses</a>
        <div class="bg-primary text-center text-white p-1 m-1">My Profile</div>  
      </div>

      <div class="col-lg-9 col-md-12 col-sm-12 mb-2 bg-white bg-gradient">
        {% comment %} Upcoming exams start here  {% endcomment %}
        <div class="container shadow-sm">
          <div class="row align-items-center border bg-custom-tb-head py-2 text-light fw-bold">
            <div class="col"> Exam </div>
            <div class="col"> Course </div>
            
            <div class="row col-lg-4 col-md-6 col-sm-6">
              <div class="col-md-5 text-left"> Time </div>
              <div class="col-md-3"> Marks </div>
              <div class="col-md-4 text-center"> Action </div>
            </div>
          </div>

          {% for course in courses_taken %}
            {% for exam in course.course.exam_set.all %}
              {% if not exam.examhistory_set.exists %}
                <div class="row align-items-center border-bottom ">
                  <div class="col"> {{ exam.name }} </div>
                  <div class="col"> {{ course.course.title}} </div>
                  <div class="row col-lg-4 col-md-6 col-sm-6 align-items-center">
                    <div class="col-md-5"> {{ exam.start_time|date:"h:i:a"}} <br>
                      <small class="text-muted bg-info">
                        {{ exam.start_time|date:"d-M-y"}}
                      </small>
                    </div>
                    <div class="col-md-3"> {{ exam.total_marks }} </div>
                    <div class="col-md-4">
                      <a class="btn btn-danger bg-gradient btn-sm" href="{% url 'exam-detail' pk=exam.pk %}" >Attend</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
       </div>
          {% comment %} Upcoming exams finishes here  {% endcomment %}

          {% comment %} Past exams starts here  {% endcomment %}
          <div class="container shadow-sm mt-3">
            <div class="row align-items-center border bg-custom-tb-head p-2 text-light fw-bold">
              <div class="col"> Exam </div>
              <div class="col"> Course </div>
              
              <div class="row col-lg-4 col-md-6">
                <div class="col-md-5 text-left"> Held On </div>
                <div class="col-md-3"> Score </div>
                <div class="col-md-4 text-center"> Action </div>
              </div>
            </div>

            {% for course in courses_taken %}
              {% for exam in course.course.exam_set.all %}
              {% if exam.examhistory_set.exists %}
                  <div class="row align-items-center border-bottom py-1">
                        <div class="col"> {{ exam.name }} </div>
                        <div class="col"> {{ course.course.title}} </div>
                        <div class="row col-lg-4 col-md-6 align-items-center">
                          <div class="col-md-5"> 
                              {{ exam.start_time|date:"d-M-y"}}
                          </div>
                          <div class="col-md-3"> xx /{{ exam.total_marks }} </div>
                          <div class="col-md-4">
                            <a class="btn btn-primary btn-sm" href="{% url 'exam-detail' pk=exam.pk %}" >Details</a>
                          </div>
                        </div>
                    </div>
                  {% endif %}
              {% endfor %}
            {% endfor %}

          </div>
          {% comment %} Past exams finishes here  {% endcomment %}          
          
          {% comment %} Assignment starts here {% endcomment %}
          <div class="container shadow-sm mt-3">
            <div class="row align-items-center border bg-custom-tb-head p-2 text-light fw-bold">
              <div class="col-lg-4"> Assignment </div>
              <div class="col-lg-4"> Submission Due </div>
              <div class="col-lg-2"> Marks </div>
              <div class="col-lg-2"> Action </div>
            </div>

            <div class="row align-items-center p-2">
              <div class="col-lg-4"> Assignment of the assignment </div>
              <div class="col-lg-4"> 19-08-24 </div>
              <div class="col-lg-2"> 80 </div>
              <div class="col-lg-2"> Submit </div>
            </div>
          </div>

    <div   class="p-2 d-flex justify-content-center text-white bg-dark mt-5"  ><b>Courses</b></div>
    <div.class="container">
      <div class="row mt-2">
        {% for course in courses_taken %}
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{course.course.code}}</h5>
                  <p class="card-text"> {{course.course.title}}</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                  <a href="{% url 'course-detail' pk=course.course.pk %}">
                    View Details
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
      </div>
      
    </div>
      
</div>

</div>
  
{% endblock content %}