
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

    <div>  
        <h1>
            Student's Dashboard
        </h1>
        <div>
            <h2> My Courses </h2>

            {% for course in courses_taken %}
                {{course.course.title | title}}
                <a href="{% url 'course-detail' pk=course.course.pk %}"> Go to Course </a>
            {% endfor %}
        </div>

        <div class="mt-4">
            {% comment %} Past exams {% endcomment %}
            <h2> Past Exams </h2>
            <ol>
                {% for p_exm in completed_exams %}
                    <li> {{p_exm.exam.name | title}} | 
                        Evaluation Status: {{p_exm.evaluated}} | 
                        {% sum_numbers p_exm.mcq_score p_exm.shortQ_score p_exm.longQ_score p_exm.codingQ_score as total_score%}
                        Score: (
                            {{total_score}}
                            )
                    </li>
                    <a href="#"> View Details </a>
                {% endfor %}
            </ol>
            {% comment %} Upcoming Exams {% endcomment %}
            <h2> Upcoming Exams </h2>
            {% for course in courses_taken %}
                {% for exam in course.course.exam_set.all %}
                    {% if not exam.examhistory_set.exists %}
                        <li> {{ exam }} | <a href="{% url 'exam-detail' pk=exam.pk %}"> View Details </a> </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            
        </div>
    </div>
{% endblock content %}